
<div id="footer">
    <div id="logo">
        <a href="/"><img src="images/logo.png" alt="LOGO" height="100" width="200"></a>
    </div>
    <div id="navigation">
        <ul>
            <li {{#if (eq currentPage 'home')}}class="active"{{/if}}>
                <a href="/">Home</a>
            </li>
            <li {{#if (eq currentPage 'travel')}}class="active"{{/if}}>
                <a href="/travel">Travel</a>
            </li>
            <li {{#if (eq currentPage 'rooms')}}class="active"{{/if}}>
                <a href="/rooms">Rooms</a>
            </li>
            <li {{#if (eq currentPage 'meals')}}class="active"{{/if}}>
                <a href="/meals">Meals</a>
            </li>
            <li {{#if (eq currentPage 'news')}}class="active"{{/if}}>
                <a href="/news">News</a>
            </li>
            <li {{#if (eq currentPage 'about')}}class="active"{{/if}}>
                <a href="/about">About</a>
            </li>
            <li {{#if (eq currentPage 'contact')}}class="active"{{/if}}>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</div>